.navigation{
    a{
        list-style: none;
        color: white;

        &:hover{
            background-color: white;
            color: black
        }
    }

    display: flex;
    justify-content: space-evenly;
}

header{
    padding: 7px;
    background-color: #ee5f00;
}