<div class="container">
    
</div>
<mat-card>
        <mat-card-header>
            <mat-card-title>
                Olá.
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Este é o sistema de cadastro e controle de novos usuários
            </p>
            <br/>
            <p>O que deseja fazer hoje?</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="'/registro'" color="primary">Cadastrar Novo Usuário</a>
            <a mat-button [routerLink]="'/sucesso'" color="warn">Checar Usuários Cadastrados</a>
        </mat-card-actions>
    </mat-card>